.fs{
    &-900{
        font-size: var(--fs-900,2rem);
    }
    &-500{
        font-size: var(--fs-500,0.9625rem);
    }
    &-400{
        font-size: var(--fs-400,0.8525rem);
    }
}
.fw{
    &-700{
        font-weight: var(--fw-700);
    }
    
    &-500{
        font-weight: var(--fw-500);
    }
    &-400{
        font-weight: var(--fw-400);
    }
    
}
.line-height{
    &--300{
        line-height: 1.2;
    }
    &--400{
        line-height: 1.5;
    }
}
.ff-primary{
    font-family: var(--ff-primary);
}
.color{
    &-primary{
        &--700{
            color:var(--clr-primary-700);
        }
        &--400{
            color:var(--clr-primary-400);
        }
    }
    &-neutral{
        &--100{
            color:var(--clr-neutral-100);
        }
        &--200{
            color:var(--clr-neutral-200);
        }
        &--300{
            color:var(--clr-neutral-300);
        }
    }
}
.bg{
    &-primary{
        &--700{
            background-color:var(--clr-primary-700);
        }
        &--400{
            background-color:var(--clr-primary-400);
        }
    }
    &-neutral{
        &--100{
            background-color:var(--clr-neutral-100);
        }
        &--200{
            background-color:var(--clr-neutral-200);
        }
        &--300{
            background-color:var(--clr-neutral-300);
        }
    }
    &-repeat{
        &-no{
            background-repeat: no-repeat;

        }
    }
    &-position{
        &-center{
            background-position: center;
        }
    }
    &-size{
        &-cover{
            background-size: cover;
        }
    }
}
.text-align{
    &-center{
        text-align: center;
    }
}

.space{
    &-y{
        &-1 > :not(:last-child){
            margin-bottom: 0.5rem;
        }
        &-2 > :not(:last-child){
            margin-bottom: 1rem;
        }
        &-3 > :not(:last-child){
            margin-bottom: 1.5rem;
        }
    }
}
.space{
    &-x{
        &-1 > :not(:last-child){
            margin-right: 0.5rem;
        }
        &-2 > :not(:last-child){
            margin-right: 1rem;
        }
        &-3 > :not(:last-child){
            margin-right: 1.5rem;
        }
    }
}

.padding{
    &-y{
        &-1{
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
        &-2{
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
        &-3{
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
        }
    }
    &-x{
        &-1{
            padding-left: 0.5rem;
            padding-right: 0.5rem;
        }
        &-2{
            padding-left: 1rem;
            padding-right: 1rem;
        }
        &-3{
            padding-left: 1.5rem;
            padding-right: 1.5rem;
        }
    }
}
.margin{
    &-y{
        &-1{
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
        &-2{
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
        &-3{
            margin-top: 1.5rem;
            margin-bottom: 1.5rem;
        }
    }
    &-x{
        &-1{
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
        &-2{
            margin-left: 1rem;
            margin-right: 1rem;
        }
        &-3{
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }
    }
}
.margin{
    &-x{
        &-1{
            margin-left: 0.5rem;
            margin-right: 0.5rem;
        }
        &-2{
            margin-left: 1rem;
            margin-right: 1rem;
        }
        &-1{
            margin-left: 1.5rem;
            margin-right: 1.5rem;
        }
    }
}
.inline-block{
    display: inline-block;
}
.flex{
    display: flex;
}
.row{
    flex-flow: row nowrap;
}
.column{
    flex-flow: column nowrap;
}
.content{
    &-center{
        justify-content: center;
    }
}
.items{
    &-center{
        align-items: center;
    }
}
.w{
    &-1{
        width: 0.5rem;
    }
    &-2{
        width: 1rem;
    }
    &-3{
        width: 1.5rem;
    }
    &-4{
        width: 2rem;
    }
    &-5{
        width: 2.5rem;
    }
}
.h{
    &-1{
        height: 0.5rem;
        
    }
    &-2{
        height: 1rem;
    }
    &-3{
        height: 1.5rem;
    }
    &-4{
        height: 2rem;
    }
    &-5{
        height: 2.5rem;
    }
    
}
.br{
    &-1{
        border-radius: 0.5rem;
    }
    &-2{
        border-radius: 1rem;
    }
    &-3{
        border-radius: 1.5rem;
    }
    &-max{
        
        border-radius: 100%;
    }
}